@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #9CDBA6;
  --primary-color: #468585;
  --secundary-color: #DEF9C4;
  --font: Grandstander;
}